<h1>
  {{title}}
</h1>

<p>Type in amount and select currency:</p>

<div class="slds-form-element">
  <div class="slds-form-element__control">
    <input
		(input)="convert('valueA', 'valueB')"
		[ngModel]="valueA" (ngModelChange)="valueA = $event"
		type="text" id="text-input-id-1" class="slds-input" placeholder=""  />
  </div>
</div>

<div class="slds-form-element" >
  <div class="slds-form-element__control">
    <div class="slds-select_container">
	  <select #countryA [ngModel]="countriesSelectedA"  (ngModelChange)="countriesSelectedA = $event;convert('valueA', 'valueB',$event)"  class="slds-select" id="select-01">
	      <option *ngFor="let item of countries" [ngValue]="item">{{item}}</option>
	  </select>
    </div>
  </div>
</div>

<p>Converted amount:</p>

<div class="slds-form-element">
  <div class="slds-form-element__control">
    <input
		(input)="convert('valueB', 'valueA',$event)"
		[ngModel]="valueB" (ngModelChange)="valueB = $event"
		type="text" id="text-input-id-1" class="slds-input" placeholder=""  />
  </div>
</div>

<div class="slds-form-element">
  <div class="slds-form-element__control">
    <div class="slds-select_container">
	  <select #countryB [ngModel]="countriesSelectedB" (ngModelChange)="countriesSelectedB = $event;convert('valueA', 'valueB',$event)"  class="slds-select" id="select-01">
	      <option *ngFor="let item of countries" [ngValue]="item">{{item}}</option>
	  </select>
    </div>
  </div>
</div>

<p>Disclaimer</p>
